.navbar {
  background-color: #363636;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.list {
  margin-left: 20px;
  display: flex;
  gap: 15px;
}

.item {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
}

.item:hover {
  scale: 1.05;
  transition: all 0.1s ease-in-out;
}

@media (width <= 768px) {
  .item {
    font-size: 14px;
    flex-shrink: 0;
  }
}
