.collapseButton {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 60px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #000000 0%, #11050c 100%);
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.open {
  left: 0;
}

.collapseButton:hover {
  border: #ccc 1px solid;
  color: #ccc;
}

.collapseButton svg {
  color: #444;
  width: 36px;
  height: 36px;
}

.collapseButton:hover svg {
  color: #ccc;
}

@media (width <= 768px) {
  .open {
    position: fixed;
    left: 0;
  }
}
