.collapseButton {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.collapseButton:hover {
  border: #444 1px solid;
  background: linear-gradient(0deg, #000000 0%, #11050c 100%);
  color: #ccc;
}

.collapseButton svg {
  color: #444;
  width: 22px;
  height: 22px;
}

.collapseButton:hover svg {
  color: #ccc;
}
