.container {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  height: 118px;
  padding-left: 330px;
  padding-right: 140px;
  width: 100%;
  background: #0a0408;
  border-top: 1px solid #363636;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.poster {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}

.close {
  padding-left: 60px;
}

@media (width <= 1000px) {
  .container {
    gap: 20px;
    padding-left: 300px;
    padding-right: 110px;
  }
}

@media (width <= 768px) {
  .container {
    gap: 20px;
    padding: 0 20px;
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
