.containerInput {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #363636;
  border-radius: 8px;
}

.containerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: text;
}

.buscar {
  font-size: 16px;
  height: 100%;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
}

@media (width <= 768px) {
  .containerIcon {
    padding-left: 25px;
  }
}
