.container {
  background: linear-gradient(0deg, #000000 0%, #11050caa 100%);
  border-left: 1px solid #363636;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.title span {
  font-family: "Open Sans", sans-serif;
  color: #ccc;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btnCollapse {
  display: none;
}

.pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pro svg {
  width: 35px;
  height: 35px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.item img,
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover svg {
  color: #e8175d;
  scale: 1.08;
  transition: all 0.1s ease-in-out;
}

.img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
}

@media (width <= 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    height: auto;
    padding: 6px 15px;
    width: 100%;
    border-bottom: 1px solid #363636;
  }
  
  .list {
    flex-direction: row;
  }

  .item svg {
    width: 20px;
    height: 20px;
  }

  .pro svg {
    width: 28px;
    height: 28px;
  }

  .title {
    font-size: 12px;
  }

  .img {
    width: 40px;
    height: 40px;
  }

  .btnCollapse {
    display: block;
  }
}
