.container {
  background: linear-gradient(0deg, #000000 0%, #11050caa 100%);
  border-right: 1px solid #363636;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  gap: 25px;
}

.header {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
}

.collapse {
  display: flex;
  justify-content: end;
}

.img {
  width: 110px;
  height: auto;
}

.icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-top: 8px;
}

.icon:hover {
  color: #e8175d;
  scale: 1.08;
  transition: all 0.1s ease-in-out;
}

.title {
  font-size: 16px;
  font-weight: 200;
  color: #ccc;
}

.playlistHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlistHeader svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #ccc;
}

@media (width <= 768px) {
  .container {
    width: 240px;
    background: linear-gradient(0deg, #000000 0%, #11050c 100%);
  }
}
